nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px; /* Opcionális: térköz a menüpontok között */
  }

  nav ul li:first-child {
    margin-left: 0px;
    padding-left: 0%;
    margin-right: 6px;
    padding-right: 0%;
  }

  nav ul li:nth-child(2)  {
    margin-left: 0; 
    padding-left: 0%;
    margin-right: 70px;
  }

  nav ul li:nth-child(3) {
    margin-left: 70px;
  }

  nav ul li:nth-child(8){
    margin-left: 10px;
    margin-right: 0px;
    padding-right: 0px;
  }

  nav ul li:nth-child(9){
    margin-left: 0px;
    padding-left: 3%;
    margin-right: 0px;
  }
  
  nav ul li:last-child {
    margin-right: 0; /* Utolsó menüpontnak nincs jobb oldali térköz */
  }
  
  .navigation-menu li {
    margin-right: 10px; /* Kisebb margó a menüpontok között */
  }
  
  .navigation-menu li:last-child {
    margin-right: 0; /* Utolsó menüpontnak nincs jobb oldali margó */
  }
  
  .navigation-menu li button {
    margin-left: 0px; /* Bal oldali margó a gombok között */
    margin-right: 0; /* Jobb oldali margó a gombok között */
    padding-left: 0px;
    padding-right: 0px;
  }

  /*kosár*/
.open-cart-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.cart-items {
  z-index: 1;
  display: none;
  position: fixed;
  top: 80px;
  right: 200px;
  width: 300px;
  height: 300px;
/*    transform: translate(-50%, -50%);*/
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(7px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  justify-content: center;
  align-items: center;
  color: white;

}

.cart-items p {
  margin: 0;
}

.cart-items ul {
  list-style-type: none;
  padding: 0;
  display: contents;
  text-align: center
}

.cart-items li {
  margin-bottom: 5px;

}