 :root {
  --main-color: #fff069f1;
  /*9cecb5f0*/
  --background: #362d27;
  --white: #eee;
  --darkbrown: #2a2420;
  --light-font: #7e7d7d;
  --stickyheader: #1c0f00;
  --cursor: orange;
}

.my-box {
  background-color: var(--darkbrown);
  border-radius: 30px;
}

.container {
  color: var(--white);
}

.form-control {
  background-color: var(--white);
}

nav ul li a {
  text-decoration: none !important;
  color: var(--white) !important;
  font-weight: 600;
  position: relative;
}

.form-group select {
  background-color: var(--white);
}

*, ::after, ::before{
  box-sizing: unset;
  }

  
  .img_upload {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--white);
    color: var(--white);
    border-radius: 5px;
    width: 80%;
    height: 91%;
}
.gg-image {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 16px;
    overflow: hidden;
    box-shadow: 0 0 0 2px;
    border-radius: 2px;
    margin: 0 auto;
    text-align:center;
}

#hozzaadasGomb{
  height: 50px;
  width: auto;
  padding: 9px 40px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: .5px;
  border-radius: 15px;     
  border: none;
  background: var(--main-color);
  color: var(--stickyheader);
} 

#hozzaadasGomb:hover{
  cursor: pointer;
  background-color: var(--cursor);
  color: white;
  transition: background-color 0.3s ease;
}       

#technika, #meret{
height: 80%;
width: 90%;
} 

#leiras{
  width: 90%;
}

.form-group{
  margin-bottom: 0px;
  margin-left: 35px;
}

.form-group select{
  background-color: var(--darkbrown) !important;
  color: var(--white) !important;
}

.form-group select ::placeholder{
  background-color: var(--white) !important;
}

textarea{
  background-color: var(--darkbrown) !important;
  color: var(--white) !important;
}

::placeholder{
  color: var(--white) !important;
}
