:root{
  --halvanysarga: rgb(247, 240, 168);   
}

#paginator {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#paginator button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 40px;
}

#paginator button.active {
    background-color: #007bff;
    color: #fff;
}


/* legördülő menü*/
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #f1f1f1;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 80px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content label {
    display: block;
    padding: 10px;
    background-color: var(--halvanysarga);
  }
  
  .checkbox {
    margin-right: 10px;
  }
  
  .dropdown-content label:hover {
    background-color: orange;
  }
  
  .show {
    display: block;
  }
  

  .dropbtn, #search, #order {
    padding: 9px 40px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: .5px;
    border-radius: 35px;
    border: none;
    background: var(--main-color);
    color: var(--stickyheader);
    margin: 12px;
    margin-top: 35px;
    height: 30px;
}


.dropbtn:hover{
    cursor: pointer;
    background-color: var(--cursor);
    color: var(--white);
    transition: background-color 0.3s ease;
}

#order option, #search:focus {
  background-color: var(--halvanysarga);   
  font-size: 16px;
}

#order, #search{
  width: 180px;
}

/*#order::after {
  content: '\25BC'; /* nyíl ikon megjelenítése *//*
  font-size: 12px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}*/

nav ul li a {
  text-decoration: none !important;
  color: var(--white) !important;
}
